<a href="https://colab.research.google.com/github/Nyabokelean/SQL_Queries/blob/master/Moringa_Data_Science_Prep_W1_Independent_Project_2019_06_Lean_Nyakundi_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Queries

## Reading Data

In [1]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
#
%sql sqlite://

'Connected: @None'

In [2]:
# Importing the python libraries that we will need in this notebook
import csv
import pandas as pd

In [3]:
# Load the UgandaCrops table from a local CSV file
#
with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv','r') as f:
    UgandaCrops = pd.read_csv(f, index_col=0, encoding='utf-8')

In [4]:
# Then store it in an SQL table of our in memory sqlite database
#
%sql DROP TABLE if EXISTS UgandaCrops;
%sql PERSIST UgandaCrops;

 * sqlite://
Done.
 * sqlite://

'Persisted ugandacrops'

## Checking the Data

In [5]:
# Let's preview our Interpol table so that we can understand it
%sql SELECT * FROM UgandaCrops LIMIT 5;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114)]

## Implementing the Solution

In [6]:
# Display a list of Sub Counties and their population and areas
# We will select the specific columns from the table
%%sql
SELECT SUBCOUNTY_NAME, POP, Area FROM UgandaCrops;

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860),
 ('KAMION', 60070, 1199409465),
 ('KAPEDO', 33951, 304557831),
 ('KATHILE', 56870, 228457417),
 ('KAWALAKOL', 37691, 1742041261),
 ('LOBALANGIT', 22907, 302572789),
 ('LODIKO', 31820, 397700845),
 ('LOLELIA', 100919, 1069331387),
 ('LOYORO', 16608, 1330019236),
 ('NAPORE (KARENGA)', 20394, 309577387),
 ('SIDOK', 24092, 125330583),
 ('ABIM', 14377, 188613057),
 ('ABIM TOWN COUNCIL', 11489, 115941152),
 ('ALEREK', 12573, 1255760525),
 ('LOTUKEI', 18641, 191684465),
 ('MORULEM', 16834, 250364895),
 ('KARITA', 45015, 658008801),
 ('LOROO', 22541, 371970302),
 ('AMUDAT', 30181, 596393139),
 ('AMUDAT TOWN COUNCIL', 4053, 17207110),
 ('KATIKEKILE', 11772, 277451997),
 ('NADUNGET', 42115, 596023780),
 ('TAPAC', 21999, 622266516),
 ('NORTHERN DIVISION', 7161, 2738777),
 ('SOUTHERN DIVISION', 3272, 2121209),
 ('LOREGAE', 26644, 928683431),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 4673094),
 ('NAMALU', 25905, 553067364),
 ('KAKOMONGOLE', 15960, 312709097),
 ('LOLACHAT', 22801, 642401705),
 ('LORENGEDWAT', 9929, 435714604),
 ('NABILATUK', 27534, 499776866),
 ('IRIIRI', 46979, 1030623258),
 ('LOPEEI', 18815, 790782350),
 ('LORENGECORA', 2503, 118997955),
 ('LOTOME', 17834, 125857565),
 ('MATANY', 29495, 338252511),
 ('NAPAK TOWN COUNCIL', 8010, 150906375),
 ('NGOLERIET', 20790, 158887552),
 ('NYAKWAE', 16470, 769609687),
 ('LOKOPO', 23200, 1794470536),
 ('RUPA', 41493, 2069554899),
 ('MORUITA', 16588, 839293722)]

In [7]:
# Sort the list of districts by total crop area (descending order)
# We will Select the crop area column and district column 
# Group and Order by District 

%%sql
SELECT DISTRICT_NAME, Crop_Area_Ha FROM UgandaCrops
GROUP BY DISTRICT_NAME 
ORDER BY DISTRICT_NAME DESC;

 * sqlite://
Done.

[('NAPAK', 6471.047334000001),
 ('NAKAPIRIPIRIT', 1161.3902289999999),
 ('MOROTO', 2217.2907170000003),
 ('KOTIDO', 13278.52043),
 ('KAABONG', 957.4939457999999),
 ('AMUDAT', 60.77208552),
 ('ABIM', 792.8987889)]

In [8]:
# Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum.
# We will select subcounty and sorghum production column
# Where District is Moroto
# alphabetic order by subcounty name

%%sql
SELECT SUBCOUNTY_NAME, S_Yield_Ha FROM UgandaCrops
WHERE DISTRICT_NAME = "MOROTO"
ORDER BY SUBCOUNTY_NAME ASC;

 * sqlite://
Done.

[('KATIKEKILE', 311.0062152),
 ('NADUNGET', 133.6679356),
 ('NORTHERN DIVISION', 131.9776979),
 ('RUPA', 114.2709211),
 ('SOUTHERN DIVISION', 114.7955689),
 ('TAPAC', 155.8699345)]

In [9]:
# Compute the total Maize production per District.
# 
%%sql
SELECT DISTRICT_NAME, SUM(M_Prod_Tot) FROM UgandaCrops
GROUP BY DISTRICT_NAME;

 * sqlite://
Done.

[('ABIM', 1922133.1297),
 ('AMUDAT', 3546469.3324990002),
 ('KAABONG', 6990361.6143000005),
 ('KOTIDO', 2010179.0731479998),
 ('MOROTO', 422116.06882464996),
 ('NAKAPIRIPIRIT', 8125156.24546),
 ('NAPAK', 5587379.38888)]

In [10]:
#Compute the number of Sub counties where Maize is produced and the total Maize production per District

%%sql
SELECT DISTRICT_NAME, COUNT(SUBCOUNTY_NAME), SUM(M_Prod_Tot) FROM UgandaCrops
GROUP BY DISTRICT_NAME;

 * sqlite://
Done.

[('ABIM', 6, 1922133.1297),
 ('AMUDAT', 4, 3546469.3324990002),
 ('KAABONG', 14, 6990361.6143000005),
 ('KOTIDO', 6, 2010179.0731479998),
 ('MOROTO', 6, 422116.06882464996),
 ('NAKAPIRIPIRIT', 8, 8125156.24546),
 ('NAPAK', 8, 5587379.38888)]

In [ ]:
# Compute the overall Crop area in all Sub counties where population is over 20000
%%sql
SELECT SUM(Crop_Area_Ha) FROM UgandaCrops
WHERE POP> 20000;

 * sqlite://
Done.

[(120212.89015529997,)]

In [11]:
# Sort the Maize production in descending order by Districts, 
# only taking into account Sub counties where Maize area is larger than Sorghum area,
# and display the number of Sub counties per district matching that criteria.

%%sql
SELECT SUBCOUNTY_NAME,	DISTRICT_NAME, M_Yield_Ha, M_Area_Ha,S_Area_Ha FROM UgandaCrops
WHERE M_Area_Ha > S_Area_Ha
ORDER BY DISTRICT_NAME DESC;

 * sqlite://
Done.

[('IRIIRI', 'NAPAK', 873.4522414999999, 3840.6980810000005, 1550.9445699999999),
 ('NAPAK TOWN COUNCIL', 'NAPAK', 725.8139301, 401.1734419, 386.1580327),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 'NAKAPIRIPIRIT', 1257.802716, 27.79576662, 1.3399191590000001),
 ('NAMALU', 'NAKAPIRIPIRIT', 1325.254872, 3293.74946, 2197.572106),
 ('MORUITA', 'NAKAPIRIPIRIT', 1248.955812, 959.6711616, 185.2834449),
 ('KATIKEKILE', 'MOROTO', 546.1402942000001, 103.27756219999999, 30.15704817),
 ('TAPAC', 'MOROTO', 211.96563540000002, 793.2370943, 315.979223),
 ('NORTHERN DIVISION', 'MOROTO', 241.53842680000002, 0.19137495100000002, 0.130940756),
 ('KAMION', 'KAABONG', 714.4757426, 549.8633367000001, 411.8070005),
 ('LOBALANGIT', 'KAABONG', 985.1926986, 1005.8773960000001, 879.0023395),
 ('NAPORE (KARENGA)', 'KAABONG', 765.3349254999999, 1221.532726, 267.559128),
 ('AMUDAT', 'AMUDAT', 1379.0459449999998, 972.1742458999998, 676.7832664)]